<!DOCTYPE html>
<html>
<head>
	<title>Add a Note</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>

<% include partials/nav.ejs %>

<div class="addNote-wrapper">
	
	<h1>Add a note Man</h1>

	<h3>Fill out the info below&hellip;</h3>

	<form>
		<input class="title" type="text" name="title" placeholder="Add a title to your note">
		<input class="yourNote" type="text" name="note" placeholder="Add your note here&hellip;">
		<label>Date you added the note</label>
		<input type="text" name="year" placeholder="year">
		<input type="text" name="month" placeholder="month (two digits)">
		<input type="text" name="day" placeholder="day (two digits)">
		<button type="submit">Add Note</button>
	</form>

</div>

</body>
</html>