<!DOCTYPE html>
<html>
<head>
	<title>Add a Note</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>

<% include partials/nav.ejs %>

<div class="addNote-wrapper">
	
	<h1>Add a note Man</h1>

	<h3>Fill out the info below&hellip;</h3>

	<form>
		<input id="title" type="text" name="title" placeholder="Add a title to your note&hellip;">
		<textarea id="yourNote" cols="30" rows="10" placeholder="Add your note here&hellip;"></textarea>
		<label>Date you added the note</label>
		<input id="year" type="text" name="year" placeholder="Year">
		<input id="month" type="text" name="month" placeholder="Month (two digits)">
		<input id="day" type="text" name="day" placeholder="Day (two digits)">
		<button type="submit">Add Note</button>
	</form>

</div>

<script type="text/javascript" src="/notes.js"></script>

</body>
</html>