<!DOCTYPE html>
<html>
<head>
	<title>Your Notes</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<% include partials/nav.ejs %>

<div class="homepage-wrapper">
	
	<h1>Welcome to your Notes Bro!!!</h1>

	<h3>Check out your last three updated notes listed below&hellip;</h3>

	<div class="homeNotes">
		
		<% for(var i = 0; i < 3; i++) { %>
			<% if(notes[i] === undefined) { %>
				<% break; %> 
			<% } %>
			<ul class="theNotes">
				<li><%= notes[i].title %> <span class="delete">X</span></li>
				<li><%= notes[i].note %></li>
				<li>Date Added: <%= notes[i].date %></li>
			</ul>	
		<% } %>

	</div>

</div>

</body>
</html>