<!DOCTYPE html>
<html>
<head>
	<title>Your Notes</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<% include partials/nav.ejs %>

<h1>Welcome to your Notes Bro!!!</h1>

<h3>Check out your last three updated notes listed below&hellip;</h3>

</body>
</html>