/* Global Styles */
* {
	margin: 0;
}

h1 {
	font-size: 50px;
	font-family: Verdana;
	margin-top: 30px;
}

h3 {
	font-size: 30px;
	margin-top: 20px;
}

.theNotes {
	float: left;
	width: 30%;
	text-align: left;
}

.homepage-wrapper,
.addNote-wrapper,
.allNotes-wrapper {
	text-align: center;
}

/* Navigation */
nav {
	height: 55px;
	background: black;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 15px 20px 17px;
	font-size: 20px;
	font-family: arial;
	font-weight: 600;
	color: white;
}

nav li:hover {
	color: black;
	background: white;
}

nav a {
	text-decoration: none;
}

/* Homepage */

.homepage-wrapper {
	text-align: center;
}

.homepage-wrapper .homeNotes {
	margin-top: 30px; 
}

/* All Notes */

.noteList-wrapper {
	text-align: center;
}

.noteList-wrapper .allNotes {
	margin-top: 10px;
}

.noteList-wrapper .theNotes {
	margin-top: 20px;
}

/* Notes Default */
.theNotes li {
	list-style: none;
}

.theNotes li:first-child {
	text-align: center;
	font-weight: 600;
	text-decoration: underline;
	margin-bottom: 5px;
}

.theNotes li .delete {
	background: black;
	color: white;
	float: right;
	border-radius: 50%;
	padding: 2px 5px;
}

.theNotes li:last-child {
	text-align: right;
	font-size: 12px;
	margin-top: 15px;
}

/* Add Note */

.addNote-wrapper form {
	margin-top: 30px;
}

.addNote-wrapper input,
.addNote-wrapper textarea {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	width: 300px;
	height: 20px;
}

.addNote-wrapper #yourNote {
	height: 100px;
	margin-bottom: 20px;
}

.addNote-wrapper button {
	margin-top: 10px;
}